# Mongo
MONGO_URI=mongodb://mongodb:27017/rentora_v1

# Backend
PORT=8080
JWT_SECRET=replace-with-long-random-secret
FRONTEND_URL=http://localhost:3000
SEED_ON_START=true
FIREBASE_WEB_API_KEY=replace-with-firebase-web-api-key

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_FIREBASE_API_KEY=replace-with-firebase-public-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace-with-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=replace-with-app-id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=replace-with-measurement-id
