# Mongo
MONGO_URI=mongodb://mongodb:27017/rentora_v1

# Backend
PORT=8080
JWT_SECRET=rentora-dev-secret
FRONTEND_URL=http://localhost:3000
SEED_ON_START=true

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
